In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

weather = pd.read_csv('data/weather.csv')
pallet_history = pd.read_csv('data/Pallet_history_Gold_Spike.csv')
inbound_loads = pd.read_csv('data/inbound_loads.csv')
outbound_loads = pd.read_csv('data/outbound_laods.csv')
demand_Kwtrain_val = pd.read_csv('data/demand_kWtrain_val.csv')

In [11]:
print(pallet_history)

        Unnamed: 0  source_system_id  warehouse_facility_id  customer_code  \
0                0                11                     42           3610
1                1                11                     42           3610
2                2                11                     42           3610
3                3                11                     42           3610
4                4                11                     42           3610
...            ...               ...                    ...            ...
138725      138725                11                     42         126053
138726      138726                11                     42         126053
138727      138727                11                     42         126053
138728      138728                11                     42         126053
138729      138729                11                     42             12

       from_location_code to_location_code     transaction_date  tran_type  \
0              UNASSIGNED       0030130071  2021-11-23 07:43:18        NaN
1              0030130071       0030130071  2021-11-23 07:50:20        NaN
2              0030130071       0030130071  2021-11-23 16:56:53        NaN
3              UNASSIGNED       0030130071  2021-11-23 07:43:18        NaN
4              0030130071       0030130071  2021-11-23 07:50:20        NaN
...                   ...              ...                  ...        ...
138725         0030160512         CP947318  2021-12-10 21:14:21        NaN
138726         0030160512         CP939723  2021-12-15 20:58:38        NaN
138727         0030160512         CP417626  2021-12-16 21:10:23        NaN
138728         0030160512       0030170741  2021-12-22 16:33:21        NaN
138729                NaN              NaN                  NaN        NaN

        quantity   work_type  final_pallet_code warehouse_pallet_code  \
0            0.0   WRONGFULL                NaN              1363587-
1            0.0   WRONGFULL                NaN              1363587-
2            0.0   WRONGFULL                NaN              1363587-
3            0.0   WRONGFULL                NaN              1364144-
4            0.0   WRONGFULL                NaN              1364144-
...          ...         ...                ...                   ...
138725       1.0  CHRYPICK-S                NaN       1506559095-0001
138726       3.0  CHRYPICK-S                NaN       1506559095-0001
138727       3.0  CHRYPICK-S                NaN       1506559095-0001
138728       1.0       FULLS                NaN       1506559095-0001
138729       NaN         NaN                NaN                   NaN

            lot_code        received_date  move_category
0       1.363587e+06  2021-11-21 10:39:33  outbound move
1       1.363587e+06  2021-11-21 10:39:33  outbound move
2       1.363587e+06  2021-11-21 10:39:33  outbound move
3       1.364144e+06  2021-11-21 10:39:33  outbound move
4       1.364144e+06  2021-11-21 10:39:33  outbound move
...              ...                  ...            ...
138725  1.506559e+09  2021-11-19 19:56:05  outbound move
138726  1.506559e+09  2021-11-19 19:56:05  outbound move
138727  1.506559e+09  2021-11-19 19:56:05  outbound move
138728  1.506559e+09  2021-11-19 19:56:05  outbound move
138729           NaN                  NaN            NaN

[138730 rows x 15 columns]